@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm())
{
    <input id="Text1" type="text" name="text1" />
    <input id="Submit1" type="submit" value="submit" />
    <h3>@ViewBag.Message</h3>
}




<p>Use this area to provide additional information.</p>
