@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Your app description page.</h2>
</hgroup>

<article>
    <form method="post" action="">
        <input id="Text1" name="Text1" type="text" />
        <input id="Submit1" type="submit" value="Post Data" />
    </form>
    <span class="message-success">
        @if (IsPost)
        {
            <text>
                @Request.Form["Text1"];
            </text>
        }
    </span>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>